{% extends "base.html" %}

{% block content %}
        <h1>Lista de movimientos</h1>
        <table>
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Concepto</th>
                    <th>Cantidad</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>2022-01-01</td>
                    <td>Sueldo</td>
                    <td>1000.00 €</td>
                    <td>
                        <a href="/update/1">
                            <span class="material-symbols-outlined">
                                edit
                            </span>
                        </a>
                        <a href="/delete/1">
                            <span class="material-symbols-outlined">
                                delete
                            </span>
                        </a>
                        
                    </td>
                </tr>
            </tbody>
        </table>
{% endblock %}